.searchBox{
     display:grid;
 }
input[type=text] {
    width: 130px;
    height: 70px;
    size: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 45%;
}